.faqs-container {
  margin: 0 210px;
  margin-top: var(--padding-top);
  margin-bottom: var(--padding-bottom);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 4rem;
  align-items: flex-start;
}

.faq {
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.faq:focus {
  background: var(--secondary-color);
}

.faq h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.faq div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqs__icon {
  background: var(--primary-color);
  color: #fff;
  font-size: 1.5rem;
}

.faq p {
  margin-top: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .faqs-container {
    margin: 0 100px;
    grid-template-columns: 1fr;
    padding-bottom: var(--padding-bottom);
  }
}

@media screen and (max-width: 767px) {
  .faqs-container {
    margin: 0 20px;
    grid-template-columns: 1fr;
    padding-bottom: var(--padding-bottom);
  }
}
